.rp_container,.rp_header_container {
	min-width: 480px;
	width: 100%;
}
.rp_container td,.rp_header_container td {
	vertical-align: top;
}
.rp_header_container {
	border-bottom: 1px inset #ccc;
}
.rp_header td {
	width: 33%;
	text-align: center;
}
.rp_header ul {
	text-align: left;
}
.rp_header_left a, a.rp_button {
	background: #E8E8E8;
	border-color: #777;
	color: #333;
	display: block;
	height: 18px;
	float: left;
	width: auto;
	font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	padding: 4px 8px;
	border: 1px outset #d1d1d1;
	text-decoration: none !important;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-transition: background-color 0.2s ease-out;
}

.rp_header_left a:hover, a.rp_button:hover {
	background: #888;
	border: 1px inset #d1d1d1;
}

.rp_calendar_body,
.rp_roster_table table {
	width: 100%;
	border-spacing: 0px 0px;
	border-collapse: collapse;
	border-color: gray;
	border: 1px solid #CCC;
}

.rp_calendar_body td {
	border-width: 1px 0px 0px 1px;
	border-color: #CCC;
	border-style: solid;
	width: 14%;
	height: 100px;
	vertical-align: top;
	padding: 2px;
}

.rp_calendar_body td.today {
	background: #FFC;
}

.rp_calendar_body td.noncurrent {
	background: #E8E8E8;
}

.rp_calendar_body tr {
	border-width: 0px 0px 1px 0px;
	border-color: #CCC;
	border-style: solid;
}

.rp_calendar_body tr th {
	background: #33383C;
	color: #BBBFC3;
	font-weight: bold;
	text-align: center;
}

.rp_calendar_body td .day_no {
	float: right;
	padding: 0px 2px;
	position: relative;
	top:0;
	right:0;
	vertical-align: baseline;
	height: 14px;
	line-height: 14px;
	display: block;
}

.rp_calendar_body td.noncurrent .day_no {
	color: #4083A9;
}

.rp_calendar_body td .event {
	background-color: #33383C;
	width: 98%;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	margin: 1px;
}
.rp_calendar_body td .events {
	margin: 18px 0 0 0;
}

.rp_calendar_body td .event a {
	color: #bbb;
	text-decoration: none;
	font-family: Tahoma, Geneva, Helvetica, Arial, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	line-height: 1.5em;
	margin: 0 4px;
	display: block;
	-webkit-transition: color 0.2s ease-out;
}

.rp_calendar_body td .event.signed_0 {
	opacity: 0.8;
	filter: alpha(opacity = 80);
}

.rp_calendar_body td .event a:hover {
	color: white;
}

.rp_event_roles ul,.rp_header ul, .rp_event_signup ul {
	margin: 0;
	list-style-type: none;
	padding: 0;
}
.rp_event_description {
	display: block;
	float: left;
	min-height: 50px;
}

.rp_event_roles {
	display: block;
	float: right;
	width: 180px;
	vertical-align:text-top;
	padding-left: 5px;
	border-left: 1px solid #ccc;
}

.rp_event_buttons div a {
	color: #bbb;
	display: block;
	width: 100px;
	height: 20px;
	line-height: 20px;
	-webkit-transition: color 0.2s ease-out;
	float: left;
	background-color: #33383C;
	text-align: center;
	text-decoration: none;
	margin: 0 1px;
	font-weight: bold;
}

.rp_event_buttons div a:first-child {
	border-bottom-left-radius : 6px;
	-moz-border-radius-bottomleft : 6px;
	-webkit-border-bottom-left-radius : 6px;
	border-top-left-radius : 6px;
	-moz-border-radius-topleft : 6px;
	-webkit-border-top-left-radius : 6px;
}

.rp_event_buttons div a:last-child {
	border-bottom-right-radius : 6px;
	-moz-border-radius-bottomright : 6px;
	-webkit-border-bottom-right-radius : 6px;
	border-top-right-radius : 6px;
	-moz-border-radius-topright : 6px;
	-webkit-border-top-right-radius : 6px;
}


.rp_event_buttons div a:hover, .rp_event_buttons div a.active {
	color: white;
	background-color: #888;
}

.rp_event_attendants table,
.rp_event_signup table {
	margin: 0;
	padding: 0;
	width: 100%;
	border-spacing: 0px 0px;
	border-collapse: collapse;
}
.rp_event_attendants table th,
.rp_event_signup table th {
	background: #33383C;
	color: #BBBFC3;
	font-weight: bold;
	text-align: center;
	width: 20%;
}

.rp_event_signup table td {
	vertical-align: top;
}

.rp_event_attendants table tr {
	border-bottom: 1px solid #33383C;
}

.rp_event_attendants td .rp_tooltips, .rp_event_attendants td .attendance {
	cursor: default;
	text-decoration: none;
	font-size:110%;
}

.rp_event_attendants td a.edit_button {
	background: transparent url(edit_butt.gif) no-repeat right center;
	width: 15px;
	height: 15px;
	display: block;
	float: left;
}

.rp_event_attendants td .attendance.rp_tooltips {
	padding-right: 20px;
	background: transparent url(has_comment.png) no-repeat right center;
	border-bottom: 1px dotted black;
	cursor: default;
}

.rp_event_signup ul {
	float: left;
	width: 120px;
	display: block;
}

a.rp_button.edit, a.rp_button.new {
	float: right;
}

.rp_preview {
	margin: 15px 5px 5px 5px;
	border: 2px dotted #33383C;
	width: 95%;
	padding: 0;
}

.rp_tool-tip {
	color: #fff;
	width: 139px;
	z-index: 67000;
	background-color: black;
	padding: 3px;
	border: 2px solid #33383C;
	border-radius: 4px 4px;
}

.rp_history_editor {
	float: right;
}

tr.rp_header {
	color: #333;
}

.rp_container div.rp_header ul {
	margin:0;
	padding:0;
	display:block;
}

.rp_container ul.rp_left {
	float:left;
	clear:none;
}
.rp_container ul.rp_right {
	float:right;
	clear:none;
}
.rp_container li.rp_control span {
	cursor: pointer;
	color: #bbb;
}
.rp_container li.rp_control.li-pagination-current span,
.rp_container li.rp_control.li-numOfRows-current span
{
	color: #333;
}
.rp_container li.rp_control span.static {
	pointer: auto;
}
.rp_container li.rp_control {
	margin:0 5px;
	float: left;
	list-style-type: none;
}
.rp_header span.table-th-sort-span {
	padding-left: 15px;
	background: transparent url(sort-default.png) no-repeat left center;
}

.rp_header.table-th-sort span.table-th-sort-span {
	background-image: url(sort-desc.png);
}

.rp_header.table-th-sort-rev span.table-th-sort-span {
	background-image: url(sort-asc.png);
}
.rp_roster_table {
	clear:both;
}
.rp_roster_table tr th.rp_header {
	background: #33383C;
	color: #BBBFC3;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
}
.rp_roster_table tr.table-tr-odd {
	background-color: #E8E8E8;
}
.rp_roster_table tr.table-tr-selected {
	background-color: #FFC;
}
.rp_container .rp_filter {
	float:left;
	margin-left:40px;
}

.class_1 {
	background: transparent url(../../../images/raidplanner/class_icons/class_1.png) left center no-repeat;
	padding-left: 20px; 
}

.class_2 {
	background: transparent url(../../../images/raidplanner/class_icons/class_2.png) left center no-repeat;
	padding-left: 20px; 
}

.class_3 {
	background: transparent url(../../../images/raidplanner/class_icons/class_3.png) left center no-repeat;
	padding-left: 20px; 
}

.class_4 {
	background: transparent url(../../../images/raidplanner/class_icons/class_4.png) left center no-repeat;
	padding-left: 20px; 
}

.class_5 {
	background: transparent url(../../../images/raidplanner/class_icons/class_5.png) left center no-repeat;
	padding-left: 20px; 
}

.class_6 {
	background: transparent url(../../../images/raidplanner/class_icons/class_6.png) left center no-repeat;
	padding-left: 20px; 
}

.class_7 {
	background: transparent url(../../../images/raidplanner/class_icons/class_7.png) left center no-repeat;
	padding-left: 20px; 
}

.class_8 {
	background: transparent url(../../../images/raidplanner/class_icons/class_8.png) left center no-repeat;
	padding-left: 20px; 
}

.class_9 {
	background: transparent url(../../../images/raidplanner/class_icons/class_9.png) left center no-repeat;
	padding-left: 20px; 
}

.class_11 {
	background: transparent url(../../../images/raidplanner/class_icons/class_11.png) left center no-repeat;
	padding-left: 20px; 
}