<?xml version="1.0" encoding="utf-8"?>
<config>
	<params>
		<param type="radio" name="load_css" default="1" label="COM_RADIPLANNER_LOAD_CSS" description="COM_RADIPLANNER_LOAD_CSS_DESCRIPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</param>
		<param type="radio" name="armory_sync" default="1" label="COM_RAIDPLANNER_ARMORY_SYNC" description="COM_RAIDPLANNER_ARMORY_SYNC_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</param>
		<param type="text" name="sync_interval" default="4" label="COM_RAIDPLANNER_SYNC_INTERVAL" description="COM_RAIDPLANNER_SYNC_INTERVAL_DESC"></param>
	</params>
	<fieldset name="settings" label="COM_RAIDPLANNER_SETTINGS">
		<field type="radio" name="load_css" default="1" label="COM_RADIPLANNER_LOAD_CSS" description="COM_RADIPLANNER_LOAD_CSS_DESCRIPTION">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
	</fieldset>
	<fieldset name="guild" label="COM_RAIDPLANNER_GUILD_SETTINGS">
		<field type="radio" name="armory_sync" default="1" label="COM_RAIDPLANNER_ARMORY_SYNC" description="COM_RAIDPLANNER_ARMORY_SYNC_DESC">
			<option value="0">JNO</option>
			<option value="1">JYES</option>
		</field>
		<field type="integer" name="sync_interval" default="4" label="COM_RAIDPLANNER_SYNC_INTERVAL" description="COM_RAIDPLANNER_SYNC_INTERVAL_DESC" first="1" last="24" step="1" ></field>
	</fieldset>
</config>